<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
	<md-toolbar class="user_info_toolbar md-hue-2">
		<span flex></span>
		<div layout="column" class="user_info_div md-toolbar-tools-bottom inset">
			<img ng-src="{{sidebarCtrl.profile.picture}}" class="user_avatar">
			<p>Hi, {{sidebarCtrl.profile.name}}
			</p>
		</div>
	</md-toolbar>
	<md-list class="md-dense" flex>
		 <a class="sidenav_links" ui-sref="profile">
			<md-list-item md-ink-ripple >
				<div class="md-list-item-text" layout="column">
					<span class="sidenav_link_span">Profile</span>
				</div>
			</md-list-item>
		</a> 
		<a class="sidenav_links" ui-sref="home">
			<md-list-item md-ink-ripple >
				<div class="md-list-item-text" layout="column">
					<span class="sidenav_link_span">Home</span>
				</div>
			</md-list-item>
		</a> 
	</md-list>
</md-sidenav>