<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>Score App</h2>

		<span flex></span>

		<md-button aria-label="login" ng-click="logintoolbar.login()" ng-if="!logintoolbar.auth.isAuthenticated">Login</md-button>
		<md-button aria-label="Profile" ui-sref="profile" ng-if="logintoolbar.auth.isAuthenticated">Profile</md-button>
		<md-button aria-label="logout" ng-click="logintoolbar.logout()" ng-if="logintoolbar.auth.isAuthenticated">Logout</md-button>	
	</div>
</md-toolbar>	