<div md-theme="{{ dynamicTheme }}" md-theme-watch>
		<app-toolbar></app-toolbar>
		<div layout="row" layout-xs="column" layout-sm="column">
			<!-- Sidenav right view -->
				<sidebar></sidebar>

			<!-- Main middle container  --> 
			<md-content flex="100" flex-gt-sm="55" layout="column" flex class="main_content md-padding">
      <div class="profile_container">
          <a class="profile_cover display-block"></a>

          <div class="profile_intro">
            <div class="profile_picture_div">
              <a title="{{userctrl.profile.name}}" href="https://twitter.com/mertskaplan" class="profile_picture_link">
                <img alt="{{userctrl.profile.name}}" ng-src="{{userctrl.profile.picture}}" class="profile_picture">
              </a>
            </div>
          
            <div class="profile_name">
              <a href="">{{userctrl.profile.name}}</a>
            </div>

            <div class="edit_profile_button">
                <!-- <md-button class="md-icon-button">Edit Profile</md-button> -->
                <md-button title="Edit Profile" class="md-icon-button" aria-label="Edit Profile">
                  <md-icon md-svg-icon="images/icons/ic_mode_edit_white_24px.svg"></md-icon>
                </md-button>
            </div>

              <div class="twPc-divStats">
                    <!-- <ul class="twPc-Arrange">
                    <li class="twPc-ArrangeSizeFit">
                      <a href="https://twitter.com/mertskaplan" title="9.840 Tweet">
                        <span class="twPc-StatLabel twPc-block">Tweets</span>
                        <span class="twPc-StatValue">9.840</span>
                      </a>
                    </li>
                    <li class="twPc-ArrangeSizeFit">
                      <a href="https://twitter.com/mertskaplan/following" title="885 Following">
                        <span class="twPc-StatLabel twPc-block">Following</span>
                        <span class="twPc-StatValue">885</span>
                      </a>
                    </li>
                    <li class="twPc-ArrangeSizeFit">
                      <a href="https://twitter.com/mertskaplan/followers" title="1.810 Followers">
                        <span class="twPc-StatLabel twPc-block">Followers</span>
                        <span class="twPc-StatValue">1.810</span>
                      </a>
                    </li>
                    </ul> -->
              </div>
          </div>
          </div>
			</md-content>
			<!-- Widgets View --> 
			<md-content layout="column" flex class="md-padding">
        <br/><br/><br/>
          <md-card>
          <!-- <img ng-src="images/bg-user.jpg" class="md-card-image" alt="Washed Out"> -->
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Change Theme Color</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
              <md-button ng-click="changeTheme('default')">Default</md-button>
              <md-button ng-click="changeTheme('light-blue')">light blue</md-button>
              <md-button ng-click="changeTheme('yellow')">yellow</md-button>
              <md-button ng-click="changeTheme('blue')">blue</md-button>
              <md-button ng-click="changeTheme('teal')">teal</md-button>
            <p>
              The titles of Washed Out's breakthrough song and the first single from Paracosm share the
              two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
            </p>
          </md-card-content>
          </md-card>

          <md-card>
          <!-- <img ng-src="images/bg-user.jpg" class="md-card-image" alt="Washed Out"> -->
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Action buttons</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <p>             
              The titles of Washed Out's breakthrough song and the first single from Paracosm share the
              two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
            </p>
            <p>
              The titles of Washed Out's breakthrough song and the first single from Paracosm share the
              two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
            </p>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button>Action 1</md-button>
            <md-button>Action 2</md-button>
          </md-card-actions>
          </md-card>
			</md-content> 
		</div>
</div>