<div md-theme="{{ dynamicTheme }}" md-theme-watch>
		<app-toolbar></app-toolbar>
		<div layout="row" layout-xs="column" layout-sm="column">
			<!-- Sidenav right view -->
				<sidebar></sidebar>

			<!-- Main middle container  --> 
			<md-content layout-padding flex="100" flex-gt-sm="55" layout="column" flex class="main_content">
					<md-tabs md-dynamic-height md-border-bottom>
						<md-tab label="Timeline">
							<!-- <md-tab label="one" md-on-select="load()"> -->
							<md-content class="md-padding">
								<h1 class="md-display-2">Timeline</h1>
								<p>{{homectrl.one}}
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat </p>
							</md-content>
						</md-tab>
						<md-tab label="Profile">
							<md-content class="md-padding">
								<h1 class="md-display-2">Profile</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.</p>
							</md-content>
						</md-tab>
						<md-tab label="Friends">
							<md-content class="md-padding">
								<h1 class="md-display-2">Friends</h1>
								<p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum.</p>
							</md-content>
						</md-tab>
					</md-tabs>
			</md-content>
			<!-- Widgets View --> 
			<md-content layout="column" flex class="md-padding">
        <br/><br/><br/>
          <md-card>
          <!-- <img ng-src="images/bg-user.jpg" class="md-card-image" alt="Washed Out"> -->
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Change Theme Color</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
              <md-button ng-click="changeTheme('default')">Default</md-button>
              <md-button ng-click="changeTheme('light-blue')">light blue</md-button>
              <md-button ng-click="changeTheme('yellow')">yellow</md-button>
              <md-button ng-click="changeTheme('blue')">blue</md-button>
              <md-button ng-click="changeTheme('teal')">teal</md-button>
            <p>
              The titles of Washed Out's breakthrough song and the first single from Paracosm share the
              two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
            </p>
          </md-card-content>
          </md-card>

          <md-card>
          <!-- <img ng-src="images/bg-user.jpg" class="md-card-image" alt="Washed Out"> -->
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Action buttons</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <p>             
              The titles of Washed Out's breakthrough song and the first single from Paracosm share the
              two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
            </p>
            <p>
              The titles of Washed Out's breakthrough song and the first single from Paracosm share the
              two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
            </p>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button>Action 1</md-button>
            <md-button>Action 2</md-button>
          </md-card-actions>
          </md-card>
			</md-content> 
		</div>
</div>
