<md-toolbar layout="row" class="header_toolbar md-hue-2">
	<div class="md-toolbar-tools">
	  <md-button ng-click="apptoolbar.toggleSidenav('left')" hide-gt-sm class="md-icon-button main_toolbar_action_btn" aria-label="Settings">
	    <md-icon md-svg-icon="images/icons/ic_menu_white_24px.svg"></md-icon>
	  </md-button>
	  <h2>
	    <span>Score<sup style="font-size:8px;"><em>Beta</em></sup> </span>
	  </h2>
	  <span flex></span>
	  <md-button title="Refresh" class="md-icon-button main_toolbar_action_btn" aria-label="Favorite">
	    <md-icon md-svg-icon="images/icons/ic_autorenew_white_24px.svg" style="color: greenyellow;"></md-icon>
	  </md-button>
	  <md-button title="Logout" ng-click="apptoolbar.logout();" class="md-icon-button main_toolbar_action_btn" aria-label="Logout">
	    <md-icon md-svg-icon="images/icons/ic_power_settings_new_white_24px.svg"></md-icon>
	  </md-button>
	</div>
</md-toolbar>